.title {
  margin: 1em 0.5em;
}

.canvas {
  border: 1px solid black;
  margin-left: 15px;
}

.widgetInfo {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
}

.tweaks {
  position: absolute;
  width: 350px;
  top: 100px;
  right: 0;
  margin-right: 15px;
}