.canvas {
  width: 100vw;
  height: 100vh;
}

.title {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  left: 15px;
  padding: 0 15px;
}

.widgetInfo {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 15px;
  right: 15px;
  width: 250px;
  height: 100px;
  padding: 10px 15px;
}

.tweaks {
  position: absolute;
  width: 350px;
  bottom: 15px;
  right: 15px;
}